﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Anasayfa.aspx.vb" Inherits="Anasayfa" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 100%;
            height: 345px;
        }
        .auto-style2
        {
            width: 1260px;
            height: 175px;
        }
        .auto-style3
        {
            width: 205px;
        }
        .auto-style4
        {
            width: 135px;
        }
        #Button2
        {
            width: 86px;
        }
        .auto-style5
        {
            width: 100%;
        }
        #Select1
        {
            width: 109px;
        }
    </style>
</head>

<form id="form1" runat="server">
    <table class="auto-style1">
        <tr>
            <td colspan="2">
                <img alt="" class="auto-style2" src="file:///C:/Users/Mehmet/Desktop/banner-medical-hakkinda.jpg" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td class="auto-style4">TC</td>
                        <td class="auto-style3" dir="ltr">
                            <asp:TextBox ID="TextBox1" runat="server" Width="189px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style4">Şifre</td>
                        <td class="auto-style3" dir="ltr">
                            <asp:TextBox ID="TextBox2" runat="server" TextMode="Password" Width="187px"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style4">
                            <asp:CheckBox ID="CheckBox1" runat="server" Text="Beni Hatırla" />
                        </td>
                        <td class="auto-style3" dir="ltr">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style4">
                            <asp:Button ID="Button1" runat="server" Text="Giriş" Width="66px" />
                        </td>
                        <td class="auto-style3" dir="ltr">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="Button2" runat="server" Text="Anasayfa" />
                <asp:Button ID="Button3" runat="server" Text="Ziyaretci Defteri" Width="120px" />
                <asp:Button ID="Button5" runat="server" Text="Doktorlarımız" />
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table class="auto-style5">
                    <tr>
                        <td>
                            <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                            <asp:Button ID="Button4" runat="server" Text="Ara" />
                        </td>
                    </tr>
                </table>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>

</html>
