﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="İnternetHastaneOtomasyonu.Default" %>

<!DOCTYPE html>
<script runat="server">

    protected void Page_Load(object sender, EventArgs e)
    {

    }
</script>



<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    </head>
<body style="height: 0px; background-color: #66CCFF">
   
   
    <form id="form1" runat="server">
        <asp:Button ID="Button3" runat="server" Text="Anasayfa" Width="72px" />
        <asp:Button ID="Button4" runat="server" Text="İletişim" Width="72px" />
        <asp:Button ID="Button5" runat="server" Text="Canlı Destek" />
        <br />
        <br />
        <br />
        <br />
        <asp:Label ID="Label1" runat="server" Text="RANDEVU AL" style="font-weight: 700; color: #FF0000"></asp:Label>
        <br />
        <br />
        <br />
        <br />
        <br />
        <asp:Label ID="Label6" runat="server" Text="Tc Numarası" style="font-weight: 700"></asp:Label>
          &nbsp;&nbsp;&nbsp;<br />
          <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
        <br />
        <br />
        <asp:Label ID="Label2" runat="server" Text="Ad" style="font-weight: 700"></asp:Label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br />
          <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <br />
        <br />
        <asp:Label ID="Label3" runat="server" Text="Soyad" style="font-weight: 700"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br />
          <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
        <br />
        <br />
        <asp:Label ID="Label4" runat="server" Text="Bölüm Seçin" style="font-weight: 700"></asp:Label>
        <br />
        <br />
        <asp:DropDownList ID="DropDownList1" runat="server">
            <asp:ListItem>Cildiye</asp:ListItem>
            <asp:ListItem>Dahiliye</asp:ListItem>
            <asp:ListItem>Ortapedi</asp:ListItem>
            <asp:ListItem></asp:ListItem>
        </asp:DropDownList>
        <br />
        <br />
        <asp:Label ID="Label5" runat="server" Text="Doktor" style="font-weight: 700"></asp:Label>
        <br />
        <br />
        <asp:CheckBoxList ID="CheckBoxList1" runat="server">
            <asp:ListItem>TC&#39;ye Göre Aile Hekimim</asp:ListItem>
        </asp:CheckBoxList>
        <asp:CheckBoxList ID="CheckBoxList2" runat="server">
            <asp:ListItem>Ben Seçeyim</asp:ListItem>
        </asp:CheckBoxList>
        <asp:DropDownList ID="DropDownList2" runat="server">
            <asp:ListItem>Bölüm Doktoru</asp:ListItem>
            <asp:ListItem></asp:ListItem>
        </asp:DropDownList>
        <br />
        <br />
        <br />
        <asp:Label ID="Label7" runat="server" Text="Randevu Tarihi" style="font-weight: 700"></asp:Label>
        <br />
        <asp:Calendar ID="Calendar1" runat="server"></asp:Calendar>
        <br />
        <asp:Button ID="Button6" runat="server" Text="Randevu Ara" Width="88px" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button7" runat="server" Text="Randevu Sil" Width="81px" />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="Randevu Al" Width="130px" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:Button ID="Button2" runat="server" style="text-align: justify" Text="Beklet" Width="130px" />
        <br />
        <br />
        <br />
    </form>
   
   
    </body>
</html>
